
.body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-1 {
display: flex;
justify-content: center;
flex-wrap: wrap;
background-color: transparent;
font-size: 1.2em;
}

.project {
    margin: 40px 0 0 0;
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.section-1 h1 {
    width: 100%;
    margin: 15px;
    font-weight: lighter;
    color: teal;
}

@media (max-width: 1000px) {

}

@media (max-width: 450px){
    .project {
        width: 100%;
        height: 300px;
        border-radius: 0;
        margin: 0;
    }
}

.section-1 h1 {
    text-align: center;
    font-size: 3.0em;
}

.section-2 {
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-2 h1 {
    padding: 20px 0;
    color: teal;
    font-size: 3.0em;
    text-align: left;
    width: 90%;
}

.box-bg {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex-direction: row;
}


.section-2 .box {
    width: 10%;
    min-width: 400px;
    height: 300px;
    /* border: 2px solid white; */
    align-self: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    background-color: rgb(25, 25, 25);
    flex-wrap: wrap;
}

.section-2 .a .box {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.section-2 .a p {
    min-width: 100%;
    text-align: center;
}

.view-btn {
    height: 30px;
    width: 100px;
    padding: 0;
    overflow: hidden;
    border-radius: 15px;
}


@media (max-width: 1000px) {
    .section-2 h1 {
        font-size: 2.5em;
    }

    .section-2 .box-bg {
        box-sizing: border-box;
        width: 90%;
    }

    .section-2 .box {
        min-width: 250px;
        height: 200px;
    }
}




@media (max-width: 500px) {
    .section-2 h1 {
        font-size: 2.0em;
    }

    .section-2 .box-bg {
        box-sizing: border-box;
        width: 95%;
    }

    .section-2 .box {
        min-width: 300px;
        height: 200px;
    }
}

@media (max-width: 350px) {
    .section-2 .box-bg {
        width: 100%;
    }

    .section-2 .box {
        min-width: 225px;
        height: 150px;
    }
}


.sm-cont {
    background-color: transparent;
}

.sm2 {
    justify-content: center;
}